.Header{
	background-color: #f9f9f9;
	border-bottom: 1px solid #f2f2f2;
	height: 49px;
	line-height: 49px;
	overflow: hidden;
}
.Header a{
	color: #646464;
}
.Header a:hover{
	color: #007DC9;
}
.Header-wrap{
	width: 1200px;
	margin: auto;
}
.Header-left{
	float: left;
}
.Header .Header-link>a{
	color: #007DC9;
}
.Header-menu{
	float: right;
}
.Header-menu>li{
	float: left;
	margin-left: 10px;
}
.Header-menu>li>a{
	color: #646464;
}
.Header-user-wrap{
	position: absolute;
}
.Header-user-wrap i{
	margin-left: 3px;
}
.Header-triangle{
	width: 10px;
	height: 10px;
	position: absolute;
	left: 50%;
	top: -5px;
	margin-left: -5px;
	ransform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	z-index: 2;
	background-color: #fff;
	border-top: 1px solid #ece3e3;
	border-left: 1px solid #ece3e3;
}
.Header-user{
	position: absolute;
	text-align: center;
	top:32px;
	width: 90px;
	box-shadow: 0px 0px 2px rgb(204, 204, 204);
	background-color: #fff;
	top: 53px;
	left: -25px;
	z-index: 9;
}
.Header-user-hide{
	display: none;
}
.Header-user-show{
	display: block;
}
.Header-user-wrap {
	height: 49px;
}
.Header-user-wrap img {
	width: 30px;
	height: 30px;
	border-radius:100%;
	display: block;
}
.Header-user-headImg {
	width: 40px;
	height: 40px;
	border-radius:100%;
	padding: 5px;
	margin-top: 4.5px;
	background: #E6E6E6;
  border: 1px solid #ccc;
}
