.Book-item {
    margin-bottom: 20px;
}
.Book-img {
  width: 390px;
  float: left;
  padding: 20px 20px 30px 20px;
}
.Book-basic-info{
  width: 780px;
  margin-left: 420px;
}
.Info-box{
  float: left;
  width: 624px;
}
.Info-bookName {
  line-height: 70px;
  overflow: hidden;
  color: #323232;
  font-size: 18px;
  margin: 0 auto;
  border-bottom: 1px solid #f5f5f5;
}
.Info-pub {
  margin-top: 30px;
}
.Info-pub-item {
  margin-right: 10px;
}
.price-info {
  background-color: #ebebeb;
  padding: 10px 10px;
  margin: 30px 0 0 -10px;
  font: 12px "Verdana","Simsun";
  border-radius: 2px;
}
.price-key {
    color: #969696;
    margin-right: 5px;
}
.price-money {
  font-size: 24px;
  color: #ff2832;
}
.letter01 {
  letter-spacing: 6px;
}
.letter02 {
  letter-spacing: 24px;
}
.marginRight {
  margin-right: 23px;
}
.marginLeft{
  margin-left: 5px;
}
.Book-button {
  height: 36px;
  line-height: 36px;
  margin: 30px 20px 10px 0px;
  display: inline-block;
  padding: 0 15px;
  border-radius: 3px;
  text-decoration: none;
}
.shop-button {
  color: #fff;
  background-color: #007DC9;
}
.buy-button {
  border: 1px solid #007DC9;
  color: #007DC9;
  background-color: rgba(99, 195, 255, 0.19);
}
.NumberBox {
  border: 1px solid #dcdcdc;
  height: 28px;
  width: 94px;
  line-height: 28px;
  font-size: 14px;
  overflow: hidden;
}
.NumberBox-input {
  width: 36px;
  height: 28px;
  float: left;
  padding: 0;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-width: 0 1px;
  background-color: #fff;
  font-weight: bold;
}
.NumberBox-button {
  display: block;
  float: left;
  height: 28px;
  width: 28px;
  background-color: #f4f4f4;
  line-height: 28px;
}
.recommend {
  float: left;
  width: 210px;
  border: 1px solid #eee;
  height: 800px;
  margin-right: 20px;
}
.book-detai{
  float: left;
  width: 970px;
}
.Book-start {
  color: #969696;
}
.Book-start-active {
  color: #ff2832;
}
.star-text{
  color: #969696;
}
.BookTab {
  padding: 0 29px 1px;
}
.tab-item-active {
  color: #007DC9 !important;
  border: 1px solid #007DC9;
  position: relative;
  z-index: 5;
}
.tab-item {
  padding: 5px 29px;
  display: inline-block;
  border-bottom: none;
  margin-right: 10px;
  color: #969696;
  font-size: 14px;
  background-color: #fff;
}
.detail-content {
  border-top: #007DC9 1px solid;
  position: relative;
  z-index: 1;
  margin-top: -1px;
  padding-left: 20px;
  padding-top: 10px;
}
.BookDetai-recom p:first-child {
    text-indent: 2em;
}
.BookDetai-recom h3 {
    color: #007DC9;
    border-left: 5px #007DC9 solid;
    padding-left: 5px;
    line-height: 1;
    margin: 10px 0;
}
.BookDetai-blockName{
    color: #007DC9;
    font-size: 18px;
    margin-bottom: 5px;
}
.Book-evaHeadimg {
  width: 48px;
  height: 48px;
  border: 1px solid #ccc;
}
.evaluation-userName {
  color: #a3a3a3;
  height: 18px;
  line-height: 18px;
  padding-top: 6px;
}
.evaluation-star {
  color: red;
}
