.Index{
  width: 1200px;
  margin: auto;;
}
.Index-header img{
  vertical-align: middle;
  float: left;
  margin-left: 49.5px;
}
.Index-search{
  float: left;
  margin-left: 221.5px;
  margin-top: 10px;
}
.Index-bookMenu {
    float: left;
}
.Index-container {
    
}
.Index-slider img {
    width: 720px;
    height: 296px;
}
.Index-slider {
    width: 720px;
    height: 296px;
}
.Index-center{
    float: left;
    margin: 0 10px;
    width: 720px;
}
.Index-right{
    float: left;
    width: 270px;
}
.Index-sale {
  padding: 0 15px;
}
.Index-sale .title{
  height: 40px;
  line-height: 40px;
  padding-left: 34px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  background: url(../images/sprite.png) 5px 4px no-repeat;
  font-family: "Microsoft Yahei";
  position: relative;
  overflow: hidden;
}
.Index-sale-item {
  border-bottom: 1px dotted #d8d8d8;
  margin-bottom: 10px;
}
.Index-sale-item img{
 width: 120px;
 height: 120px;
}
.sale-bookName {
  margin-top: 10px;
}
.sale-bookName a {
   color: #000;
}
.sale-bookName a:hover{
  color: #fa5000;
  text-decoration: underline;
}
.sale-aprice {
  color: #c30;
  font-weight: bold;
}
.sale-num {
  font-size: 16px;
  color: #000;
}