.Index{
  width: 1200px;
  margin: auto;;
}
.Index-header img{
  vertical-align: middle;
  float: left;
  margin-left: 49.5px;
}
.Index-search{
  float: left;
  margin-left: 221.5px;
  margin-top: 10px;
}
.Index-bookMenu {
    float: left;
}
.Index-container {
    
}
.Index-slider img {
    width: 720px;
    height: 296px;
}
.Index-slider {
    width: 720px;
    height: 296px;
}
.Index-center{
    float: left;
    margin: 0 10px;
    width: 720px;
}
.Index-right{
    float: left;;
    height: 800px;
    width: 270px;
    border: 1px solid #ccc;
}
