.Login-header{
  width: 1140px;
  margin: auto;
}
.Login-header>img{
  margin-top: 20px;
  height: 60px;
}
.Login-header>ul{
  float: right;
  margin-top:20px;
}
.Login-header>ul>li{
  float: left;
  margin-right: 16px;
  background-image: url('../images/login_icon.png');
  background-repeat: no-repeat;
  padding-top:42px;
}
.Login-header a{
  color: #787878;
}
.Login-icon1{
  background-position: 5px 0;
}
.Login-icon2{
  background-position: -65px 0;
}
.Login-icon3{
  background-position: -136px 0;
}
.Login-box{
  width: 1140px;
  margin: auto;
  border: 1px solid #eef2f4;
  box-shadow:0px 0px 5px #eee;
  padding: 15px 25px 15px 15px;
  margin-top: 50px;
  overflow: hidden;
}
.Login-box-ad{
  float: left;
  width: 758px;
  margin-right: 20px;
}
.Login-box-form{
  float: left;
  width: 320px;
  padding: 25px 25px 40px;
}
.Login-box-title{
  height: 18px;
  line-height: 18px;
  font-size: 16px;
  color: #3c3c3c;
  margin-top: 9px;
  padding-bottom: 8px;
  font-weight: 700;
  margin-bottom: 5px;
}
.Login-box-input{
  position: relative;
}
.Login-box-input i{
  position: absolute;
  top: 50%;
  margin-top: -10px;
  font-size: 20px;
  left: 10px;
  color: #ccc;
}
.Login-box-form input{
  width: 100%;
  font-size: 14px;
  line-height: 34px;
  height: 34px;
  padding: 10px 8px 10px 33px;
  border: none;
  border: 1px solid #ddd;
  margin: 10px 0;
}
.Login-box-form input:focus{
  box-shadow: 0 0 2px #007DC9;
}
.Login-box-form .Login-box-submit{
  line-height: 0;
  padding: 0;
  background-color: #007DC9;
  border-radius: 5px;
  height: 40px;
  color: #fff;
  margin-top: 20px;
}
.Login-box-submitWrap{
  position: relative;
}
.Login-box-submitWrap i{
  position: absolute;
  font-size: 20px;
  color: #fff;
  top: 30px;
  right: 100px;
}
.Login-box-linkregister{
  text-align: right;
  margin-top: 10px;
}
.Login-box-linkregister>a{
  color: #6c6c6c;
}
.Login-box-linkregister>a:hover{
  text-decoration: underline;
  color: #007DC9;
}
.Login-box-icon{
  background-image: url('../images/partner.png');
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.qq{
  background-position: 0 0;
}
.weixin{
  background-position: 0 -20px;
}
.weibo{
  background-position: 0 -40px;
}
.pay{
  background-position: 0 -60px;
}
.Login-box-partner{
  margin-top: 20px;
}
.Login-box-partner>p{
  margin-bottom: 4px;
}
.Login-box-mess {
  color: #f52b00;
}
