.Order img {
    margin: 20px 0 10px;
}
.Order h2 {
    color: #097AB4;
    margin: 20px 0;
}
.Order h2 i {
    margin-right: 5px;
}
.Order span {
    font-family: 'Microsoft YaHei';
    font-weight: normal;
}
.OrderTable tr {
    width: 200px;
    color: #404040;
    font-size: 12px;
}
.OrderSearch {

}
.OrderSearch input{
  width: 220px;
  height: 35px;
  border: 2px solid #C1C1C1;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.OrderSearch input:focus{
  outline: none;
}
.OrderSearch a{
  display: inline-block;
  color: #fff;
  background: #C1C1C1;
  height: 35px;
  font-size: 20px;
  padding: 7.5px 21px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  vertical-align: middle;
  margin-top: -1px;
  margin-right: -1px;
  width: 60px;
}
.Order-item-head {
  background-color: #eaf8ff;
  padding: 4px;
  padding: 10px 20px;
}
.Order-item-head a {
  color: #1a66b3;
  letter-spacing: .5;
}
.Order-item{
  border: 1px solid #daf3ff;
  margin-bottom: 10px;
}
.Order-item-content {
  padding: 0 10px;
}
.Order-item-content hr {
  border: none;
  border-top: 1px solid #daf3ff;
  width: 95%;
  margin: auto;
}
.OrderDetail-bookInfo img {
  width: 50px;
}
.OrderDetail-bookInfo th, .OrderDetail-bookInfo td{
  width: 300px;
}
.OrderDetail h2{
  font-size: 12px;
  color: #333;
  line-height: 29px;
  background-color: #F3F3F3;
  border: 1px solid #DDD;
  padding-left: 20px;
  margin: 20px 0;
}
.OrderDetail .row {
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 10px 8px 0 0;
}
.OrderDetail-bookInfo td {
  padding: 10px 0;
}
.OrderDetail-bookInfo tr{
  color: #949494;
  font-size: 12px;
  border: 1px solid #DDD;
  line-height: 28px;
}
.OrderDetail-bookInfo td a{
  color: #999;
}
.OrderDetail-bookInfo td img {
  border: 1px solid #E9E9E9;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 10px;
}
.Order-mess {
  text-align: center;
  margin-top: 20px;
  background-color: #eaf8ff;
  padding: 10px 20px;
}
